<dl class="box">
  <dt class="r1 last" style="height: 16px;">Defined in:</dt>
  <dd class="r1 last">
  <% @source_files.each do |file| %>
    <em><%= file[0] %></em>:
    <%= file[1] %>
    <br/>
  <% end %>
  </dd>
</dl>
<div class ="clear"></div>
