<% even = false  %>
<% @items.each do |item| %>
    <li id="object_<%=item.path%>" class="<%= even ? 'even' : 'odd' %>">
      <div class="item">
        <%= linkify item, h(item.name(false)) %>
        <% if item.type == :puppet_data_type_alias %><small>Alias</small><% end %>
      </div>
    </li>
    <% even = !even %>
<% end %>
