<h2>Parameter Summary</h2>
<div class="tags">
  <ul class="param">
    <%= @html_helper.generate_parameters(@param_details, object) %>
  </ul>
</div>
<h2>Features</h2>
<div class="tags">
  <ul class="feature">
    <%= @html_helper.generate_features(@feature_details, object) %>
  </ul>
</div>
