## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
/tags

## BUNDLER
.bundle
Gemfile.lock

## YARD
.yardoc
.yardwarns

## MODULE BUILDS
**/pkg

## RubyMine 
/.idea/

## rvm/rbenv
/.ruby-version

## YARD output
/doc/
