<h2>Features</h2>
<% if @feature_details  != [] %>
<div class="tags">
  <ul class="command">
    <% @feature_details.each do |feature| %>
         <li><tt><%= feature %></tt></li>
    <% end %>
  </ul>
</div>
<% end %>
