<h2>Available Functions</h2>
<ul class="summary">
  <% @method_details.each do |method| %>
    <li class = "private">
      <span class = "summary_signature">
      <a href =<%= "##{method[:name]}-instance_method"%>>
        <span class ="type">
          <% if ! method[:return_types].nil? %>
            (<tt>
              <% method[:return_types].each do |type| %>
                <%= type %>
                <% if method[:return_types].last != type %>
                  ,
                <% end %>
              <% end %>
            </tt>) —
          <% end %>
        </span>
       <strong><%= method[:name] %></strong>
      </span>
    </li></a>
    <span class = "summary_desc">
      <div class = "inline">
        <p><%= method[:short_desc] %></p>
      </div>
    </span>
  <% end %>
</ul>
