<% unless P(:root, 'ParserFunctions').is_a?(CodeObjects::Proxy) %>
<li>
  <a class='toggle'></a>
  <%= link_object(P(:root, 'ParserFunctions'), 'Parser Functions', nil, false) %>
  <small class='search_info'>ParserFunctions</small>
</li>
<ul>
  <%= namespace_list(:root => P(:root,'ParserFunctions'), :namespace_types => [:puppetnamespace, :method]) %>
</ul>
<% end %>

<% unless P(:root, 'FutureParserFunctions').is_a?(CodeObjects::Proxy) %>
<li>
  <a class='toggle'></a>
  <%= link_object(P(:root, 'FutureParserFunctions'), 'Future Parser Functions', nil, false) %>
  <small class='search_info'>FutureParserFunctions</small>
</li>
<ul>
  <%= namespace_list(:root => P(:root,'FutureParserFunctions'), :namespace_types => [:puppetnamespace, :method]) %>
</ul>
<% end %>
