<h3> Input </h3>
<% if json['input_method'] %>
<strong>Input method: </strong> <%= json['input_method'] %>
<% end %>
<% if json['supports_noop'] %>
<strong>Supports noop?</strong> <%= json['supports_noop'] %>
<% end %>
