<h2>Confines</h2>
<% if @confine_details  != {} %>
<div class="tags">
  <ul class="command">
    <% @confine_details.each_pair do |key, value| %>
         <li><tt><%= key %> - <%= value %></tt></li>
    <% end %>
  </ul>
</div>
<% end %>
