<h2>Defaults</h2>
<% if @default_details  != {} %>
<div class="tags">
  <ul class="command">
    <% @default_details.each_pair do |key, value| %>
         <li><tt><%= key %> - <%= value %></tt></li>
    <% end %>
  </ul>
</div>
<% end %>
